body{
    background: #fff1fd
}

img{
    width: 600px;
}

p{
    color: #ff0000
}

h1{
    color:#fa3104;
    background-color: #fffbe0;
    border: 4px solid #ff3508;
}

h2{
    color:#fa3104;
    background-color: #fffbe0;
    border-left: 2px solid #ff3508;
}

hr{
    border: none;
    border-top: 2px solid rgb(255, 210, 206);
}