body{
    background-color: #ddffaa;
}

p{
    color: #dd3300;
}

h2{
    color:#dddd11;
    background-color: #ff3333;
    border: 4px solid #229900;
}

h3{
    color:#ff3333;
}

.title{
    color: #dddd11;
    border: 4px solid #119911;
    background: #ff3333
}

.text{
    justify-content: flex-start;
    padding: 20px;
    width: 681px;
    box-sizing: border-box;
}

.image{
    float: right;
}

.image img{
    max-width: 320px;
    width: 100%;
    height: auto;
    display: block;
}

hr{
    border: none;
    border-top: 2px solid red;
}